@page "/logout"

@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

@inject NavigationManager navigationManager
@inject HttpClient httpClient

<h3>Kijelentkezés...</h3>

@code {
    [CascadingParameter]
    public HttpContext httpContext { get; set; }

    protected override async Task OnInitializedAsync() {
        await base.OnInitializedAsync();
        //ha valaki be van jelentkezve akkor kijelentkezés és vissza kezdőlapra
        if(httpContext.User.Identity.IsAuthenticated) {
            await httpContext.SignOutAsync();
            navigationManager.NavigateTo("/", true);
        }
    }
}
