@page "/profile"

@using System.Security.Claims
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using System.Security.Cryptography
@using System.Text
@using FrontEnd.ViewModel
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

@inject HttpClient httpClient
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime

@rendermode InteractiveServer

<PageTitle>Profil</PageTitle>

@if(editUser is null) {
    <h3>Betöltés...</h3>
    @errorMessage
} else {
    <div class="row">
        <div class="profile-form-container">
        <h3>Profil</h3>
        <div class="profile-form">
            <EditForm Model="editUser" OnValidSubmit="EditUser" FormName="EditUser" Enhance>
                <DataAnnotationsValidator />

                <div class="mb-1">
                    <label for="username" class="form-label">Felhasználónév</label>
                    <InputText id="username" @bind-Value="editUser.Username" class="form-control" />
                </div>

                <div class="mb-1">
                    <label for="realname" class="form-label">Valós név</label>
                    <InputText id="realname" @bind-Value="editUser.RealName" class="form-control" />
                </div>

                <div class="mb-1">
                    <label for="email" class="form-label">E-mail</label>
                    <InputText id="email" @bind-Value="editUser.Email" class="form-control" />
                    <div class="error-message">
                        <ValidationMessage For="()=>editUser.Email" />
                    </div>
                </div>

                <div class="mb-1">
                    <label for="password" class="form-label">Jelszó</label>
                    <InputText type="password" id="password" @bind-Value="editUser.Password" class="form-control" />
                    <div class="error-message">
                        <ValidationMessage For="()=>editUser.Password" />
                    </div>
                </div>

                <div class="mb-3 text-center error-message">
                    @errorMessage
                </div>

                <button type="submit" class="btn btn-success md-4">Mentés</button>
            </EditForm>
            <button type="submit" class="btn btn-danger md-4" onclick="@InactivateUser">Fiók inaktiválása</button>
            <a href="/" class="btn btn-primary">Vissza</a>
        </div>
        </div>
    </div>

    
}

@code {

    [SupplyParameterFromQuery]
    private string actualUsername { get; set; }

    [SupplyParameterFromQuery]
    private string accessToken { get; set; }

    [SupplyParameterFromQuery]
    private string userId { get; set; }

    [CascadingParameter]
    public HttpContext httpContext { get; set; }

    [SupplyParameterFromForm]
    private UserVM editUser { get; set; }

    private List<UserVM> usersList = new();

    private string errorMessage;

    protected override async Task OnInitializedAsync() {
        await base.OnInitializedAsync();
        httpClient.DefaultRequestHeaders.Authorization = 
            new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", accessToken);
        httpClient.DefaultRequestHeaders.Add("Accept", "application/json");

        try {
            editUser = await httpClient.GetFromJsonAsync<UserVM>($"api/user/getUserWithId/{userId}");
            if(editUser is null) {
                navigationManager.NavigateTo("/apierror");
            } else {
                editUser.Password = string.Empty;
            }
        } catch(Exception ex) {
            navigationManager.NavigateTo("/apierror");
        }

    }

    private async Task EditUser() {
        if(editUser.Password == string.Empty || editUser.Username == string.Empty
            || editUser.Email == string.Empty || editUser.RealName == string.Empty) {
            errorMessage = "Minden mezőt ki kell tölteni!";
            return;
        }

        //megadott jelszó hashelése
        var source = Encoding.UTF8.GetBytes(editUser.Password);
        var hashBytes = MD5.Create().ComputeHash(source);
        editUser.Password = BitConverter.ToString(hashBytes).Replace("-", "");

        //új felhasználói adatok mentése
        httpClient.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", accessToken);
        httpClient.DefaultRequestHeaders.Add("Accept", "application/json");

        try {
            var response = await httpClient.PutAsJsonAsync<UserVM>($"api/user/update/{editUser.Id}", editUser);
            editUser.Password = string.Empty;

            if(response.IsSuccessStatusCode) {
                //ha változott a felhasználónév akkor a Claim frissítéséhez átirányítás
                if(actualUsername != editUser.Username)
                    navigationManager.NavigateTo("/changedUsername?actualUsername=" + editUser.Username + "&accessToken=" + accessToken + "&userId=" + userId);
                else
                    navigationManager.NavigateTo("/");
            } else {
                errorMessage = await response.Content.ReadAsStringAsync();
                errorMessage = errorMessage.Replace("\"", string.Empty);
            }
        } catch(Exception ex) {
            navigationManager.NavigateTo("/apierror");
        }
    }

    private async Task InactivateUser() {
        //megerősítés
        bool confirmed = 
            await jsRuntime.InvokeAsync<bool>("confirm", "Biztosan inaktiválni akarod a fiókod?"); 

        if(confirmed) {
            httpClient.DefaultRequestHeaders.Authorization = 
                new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", accessToken);
            httpClient.DefaultRequestHeaders.Add("Accept", "application/json");

            try {
                var response = 
                    await httpClient.PutAsJsonAsync<UserVM>($"api/user/inactivate/{editUser.Id}", editUser);
                if(response.IsSuccessStatusCode) {
                    navigationManager.NavigateTo("/logout");
                } else {
                    errorMessage = await response.Content.ReadAsStringAsync();
                    errorMessage = errorMessage.Replace("}", string.Empty);
                }
            } catch(Exception ex) {
                navigationManager.NavigateTo("/apierror");
            }
        }
    }
}

