@page "/profile"

@using System.Security.Claims
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using System.Security.Cryptography
@using System.Text
@using FrontEnd.ViewModel

@inject HttpClient httpClient
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<h3>Profil</h3>
@if(editUser is null) {
    <p>Loading...</p>
    @errorMessage
} else {
    <div class="row">
        <div class="col-md-4">
            <EditForm Model="editUser" OnValidSubmit="EditUser" FormName="EditUser" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary class="text-danger" />

                <div class="mb-3">
                    <label for="username" class="form-label">Felhasználónév</label>
                    <InputText id="username" @bind-Value="editUser.Username" class="form-control" />
                    <ValidationMessage For="()=>editUser.Username" class="text-danger" />
                </div>

                <div class="mb-3">
                    <label for="realname" class="form-label">Valós név</label>
                    <InputText id="realname" @bind-Value="editUser.RealName" class="form-control" />
                    <ValidationMessage For="()=>editUser.RealName" class="text-danger" />
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">E-mail</label>
                    <InputText id="email" @bind-Value="editUser.Email" class="form-control" />
                    <ValidationMessage For="()=>editUser.Email" class="text-danger" />
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Jelszó</label>
                    <InputText id="password" @bind-Value="editUser.Password" class="form-control" />
                    <ValidationMessage For="()=>editUser.Password" class="text-danger" />
                </div>

                <div class="mb-3 text-center">
                    <span class="text-danger">@errorMessage</span>
                </div>

                <button type="submit" class="btn btn-primary md-4">Mentés</button>
                <a href="/" class="btn btn-success">Vissza</a>
            </EditForm>
        </div>
    </div>

    <button type="submit" class="btn btn-primary md-4" onclick="@InactivateUser">Fiók inaktiválása</button>
}

@code {

    [SupplyParameterFromQuery]
    private string actualUsername { get; set; }

    [SupplyParameterFromQuery]
    private string accessToken { get; set; }

    [CascadingParameter]
    public HttpContext httpContext { get; set; }

    [SupplyParameterFromForm]
    private UserVM editUser { get; set; }

    List<UserVM> usersList = new();

    public string? errorMessage;

    protected override async Task OnInitializedAsync() {
        await base.OnInitializedAsync();
        httpClient.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", accessToken);
        httpClient.DefaultRequestHeaders.Add("Accept", "application/json");

        editUser = await httpClient.GetFromJsonAsync<UserVM>($"api/user/userData/{actualUsername}");
        if(editUser is null) {
            navigationManager.NavigateTo("/error");
        } else {
            editUser.Password = string.Empty;
        }
    }

    private async Task EditUser() {
        if(editUser.Password == string.Empty) {
            errorMessage = "Hibás jelszó!";
            return;
        }

        var source = Encoding.UTF8.GetBytes(editUser.Password);
        var hashBytes = MD5.Create().ComputeHash(source);
        editUser.Password = BitConverter.ToString(hashBytes).Replace("-", "");

        httpClient.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", accessToken);
        httpClient.DefaultRequestHeaders.Add("Accept", "application/json");

        var response = await httpClient.PutAsJsonAsync<UserVM>($"api/user/update/{editUser.Id}", editUser);
        editUser.Password = string.Empty;

        if(response.IsSuccessStatusCode) {
            if(actualUsername!=editUser.Username)        
                navigationManager.NavigateTo("/changedUsername?actualUsername="+editUser.Username+"&accessToken="+accessToken);
            else
                navigationManager.NavigateTo("/");
        } else {
            errorMessage = await response.Content.ReadAsStringAsync();
        }
    }

    private async Task InactivateUser() {
            httpClient.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", accessToken);
            httpClient.DefaultRequestHeaders.Add("Accept", "application/json");

            var response = await httpClient.PutAsJsonAsync<UserVM>($"api/user/inactivate/{editUser.Id}", editUser);
            if(response.IsSuccessStatusCode) {
                navigationManager.NavigateTo("/logout");
            } else {
                errorMessage = await response.Content.ReadAsStringAsync();
            }
    }
}

