@page "/past"

@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Authentication.Cookies

@using FrontEnd.ViewModel
@inject HttpClient httpClient

<h3>Lezajlott tippversenyeim</h3>

<p>
    @foreach(var contest in pastContestsList) {
        @contest.Name
        <a href="/standings?contestId=@contest.Id" class="btn btn-success">Ranglista</a>
        <br />
    }
</p>

@code {
    [CascadingParameter]
    public HttpContext httpContext { get; set; }

    List<ContestVM> pastContestsList = new();


    protected override async Task OnInitializedAsync() {
        string accessToken = httpContext.User.FindFirstValue("token");

        string userId = httpContext.User.FindFirstValue("id");

        httpClient.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", accessToken);
        httpClient.DefaultRequestHeaders.Add("Accept", "application/json");

        pastContestsList = await httpClient.GetFromJsonAsync<List<ContestVM>>($"api/contest/pastContest/{userId}");
    }
}
