@page "/signOngoing"

@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Authentication.Cookies
@using FrontEnd.ViewModel

@attribute [Authorize]

@inject HttpClient httpClient
@inject NavigationManager navigationManager

<div class="contest-container">
    @if(ongoingContestsList is null) {
        <h3>Betöltés...</h3>
    } else {
        @if(ongoingContestsList.Count == 0) {
            <h3>Nincsenek folyamatban lévő nyitott tippversenyek.</h3>
        } else {
            <h3>Folyamatban lévő tippversenyek</h3>
            <table>
                <tr>
                    <th>Név</th>
                    <th>Kezdés</th>
                    <th>Befejezés</th>
                    <th></th>
                </tr>
                @foreach(var contest in ongoingContestsList) {
                    <tr>
                        <td style="word-wrap: break-word;">@contest.Name</td>
                        <td>@contest.StartDate.ToString("yyyy. MM. dd. hh:mm")</td>
                        <td>@contest.EndDate.ToString("yyyy. MM. dd. hh:mm")</td>
                        <td><a href="@($"signUp?contestId={contest.Id}&prevPage=/signOngoing")" class="btn btn-success">Nevezés</a></td>
                    </tr>
                }
            </table>
        }
    }
</div>

@code {
    [CascadingParameter]
    public HttpContext httpContext { get; set; }

    private List<ContestVM> ongoingContestsList = new();

    protected override async Task OnInitializedAsync() {
        string accessToken = httpContext.User.FindFirstValue("token");
        string userId = httpContext.User.FindFirstValue("id");

        httpClient.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", accessToken);
        httpClient.DefaultRequestHeaders.Add("Accept", "application/json");

        try {
            ongoingContestsList = await httpClient.GetFromJsonAsync<List<ContestVM>>($"api/contest/availableOngoingContest/{userId}");
        } catch(Exception ex) {
            navigationManager.NavigateTo("/apierror");
        }
        
    }
}

