@page "/apierror"

<PageTitle>Hiba</PageTitle>

<div class="error-container">
    <h3>Hiba a kapcsolatban</h3>
    <h4>Ha a hiba továbbra is fennáll, kérlek lépj kapcsolatba az adminisztrátorral.</h4>
    <a href="/" class="btn btn-primary">Vissza a főoldalra</a>
</div>
