.home-page{
    background-image: url("../images/home_bg.jpg");
    background-size: 100%; 
    background-repeat: no-repeat;
    height: 900px;

    text-align: center;
}

h1 {
    color: #f1f1ef;
    text-shadow: 5px 5px 10px black;
    font-size: 5vw;
    font-family: Verdana;
    font-weight: bold;
    padding-top: 50px;
}

p {
    color: #f1f1ef;
    text-shadow: 5px 5px 10px black;
    font-size: 3vw;
    font-family: Verdana;
    font-weight: bold;
    padding-top: 10px;
}
