@page "/"

@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Authentication.Cookies

<PageTitle>Kezdőoldal</PageTitle>

<div class="home-page">
    <AuthorizeView>
        <NotAuthorized>
            <h1>Üdvözöllek az oldalon!</h1>
            <p>Lépj be vagy regisztrálj!</p>
    </NotAuthorized>
        <Authorized>
            <h1>Üdvözöllek @context.User.Identity.Name!</h1>
        </Authorized>
    </AuthorizeView>
</div>

